body{
    margin: 5%;
}

#messages{
    list-style-type: none;
    padding-top: 2%;
}

#messages li{
    margin: 1%;
    padding: 1%;
    border-radius: 15px;
    width: 50%;
    float: left;
    background-color: rgb(201, 231, 221);
}
#messages input{
    float: right;
    margin-top: 30px;
}